#ifndef __KOMPAS3DSTORAGE_RH
#include "kompas3dstorage.rh"
#endif


/////////////////////////////////////////////////////////////////////////////
// Меню
//
IDR_LIBID MENU DISCARDABLE
BEGIN
  MENUITEM "Подписаться на изменение файла",            1
  MENUITEM "Подписаться на изменения всей папки",       2
  MENUITEM "Отправить изменение файла на сервер",       3
  MENUITEM "Отправить все изменения в папке на сервер", 4
  MENUITEM "Отслеживать события",                       10
END

/////////////////////////////////////////////////////////////////////////////
// Строки
//
STRINGTABLE DISCARDABLE
BEGIN
  IDR_LIBID  "Модуль интеграции KOMPAS-3D-Storage"  // Имя библиотеки
END

/////////////////////////////////////////////////////////////////////////////
// Инструментальные панели
//

// Определение имени панелей
STRINGTABLE
{
  BAR_1        "Панель KOMPAS-3D-Storage"
}

// Определение состава панели
BAR_1 RCDATA
{
  1 // Подписаться на изменение файла
  2 // Подписаться на изменения всей папки
  3 // Отправить изменение файла
  4 // Отправить все изменения в папке
  END_OF_RESOURCE_TABLE
}

1001 BITMAP "1.bmp"
1002 BITMAP "2.bmp"
1003 BITMAP "3.bmp"
1004 BITMAP "4.bmp"

